<style>
    .FlyDreamAir-RawDocument * {
        all: revert;
    }
</style>

<div class="FlyDreamAir-RawDocument">
    <h1>Privacy Policy</h1>
    <h3>Last updated April 28, 2024</h3>

    This privacy notice for the FlyDreamAir team ("<b>we</b>", "<b>us</b>", "<b>our</b>"),
    describes how and why we might collect, store, use and/or share ("<b>process</b>") your
    information when you use our services ("<b>Services</b>"), such as when you:
    <ul>
        <li>
            Visit our website at
            <a href="https://fly.trungnt2910.com">https://fly.trungnt2910.com</a>,
            <a href="https://csit214.trungnt2910.com">https://csit214.trungnt2910.com</a>,
            <a href="https://ishar.trungnt2910.com">https://ishar.trungnt2910.com</a>,
            or any website of ours that links to this privacy notice
        </li>
        <li>
            Download and use our mobile application or any other application of ours that links
            to this privacy notice
        </li>
        <li>
            Engage with us in other related ways, including through email and public events
        </li>
    </ul>

    If you do not agree with our policies and practices, please do not use our Services.

    <h2>What information do we collect?</h2>
    <p>
        We collect any information provided by you to the service, including:
        <ul>
            <li>names</li>
            <li>email addresses</li>
            <li>usernames</li>
            <li>passwords</li>
            <li>debit/credit card numbers</li>
            <li>passport IDs or other government identifiers</li>
        </ul>
        You are <b>not</b> required to provide true or accurate details.
    </p>

    <h2>How do we process your information</h2>
    <p>
        We process your information for the sole purpose of demonstrating the features of our Service.
    </p>

    <h2>When and with whom do we share your personal information?</h2>
    <p>
        We only share your personal information to our cloud provider fror the sole purpose of storage.
    </p>

    <h2>Do we use cookies and other tracking technologies?</h2>
    <p>
        We only use essential cookies to manage login status.
    </p>

    <h2>How long do we keep your information</h2>
    <p>
        We keep your information as long as the website remains functional and the databases have not
        expired.
    </p>

    <h2>How do we keep your information safe</h2>
    <p>
        We aim to protect your information through a system of organizational and technical security
        measures.

        We also only partner only with reputational storage providers with a good cybersecurity
        profile.
    </p>
</div>

@code {

}
