<style>
    .FlyDreamAir-RawDocument * {
        all: revert;
    }
</style>

<div class="FlyDreamAir-RawDocument">
    <h1>Terms of Service</h1>
    <h3>Last updated April 28, 2024</h3>

    We are the FlyDreamAir team (the "<b>Team</b>", "<b>we</b>", "<b>us</b>", "<b>our</b>"),
    consisting of
    <a href="https://github.com/trungnt2910">Trung Nguyen</a>,
    <a href="https://github.com/sayonai">Eden Sun</a>,
    <a href="https://github.com/ethan-ndap">Dai Phat Nguyen</a>, and
    <a href="https://github.com/RdBrn">Phu Hong Can Khang Pham</a> (the "<b>Members</b>"). <br />

    These terms govern your use of the websites
    <a href="https://fly.trungnt2910.com">https://fly.trungnt2910.com</a>,
    <a href="https://csit214.trungnt2910.com">https://csit214.trungnt2910.com</a>,
    <a href="https://ishar.trungnt2910.com">https://ishar.trungnt2910.com</a>,
    (the "<b>Site</b>"), the mobile application (the "<b>App</b>"), as well as
    any other related products and services that refer or link to these legal terms
    (the "<b>Legal Terms</b>") (collectively, the "<b>Services</b>"). <br />

    IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED
    FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE IMMEDIATELY. <br />

    <h2>Our services</h2>
    <p>
        By using the Services, you acknowledge that the Services are only demonstration products
        for CSIT214 (the "<b>Subject</b>") at the Univeristy of Wollongong
        (the "<b>University</b>", "<b>UOW</b>"), and the Services do not represent any real life
        service or deliver any goods or value. <br/>

        You acknowledge that terms, contracts, transactions, and other interactions related to the
        Services other than these terms have absolutely <b>no</b> legal validity.
    </p>

    <h2>Recognition of work</h2>
    <p>
        If you are an academic working for the University and evaluating the Services as an
        assessment of the Subject, you acknowledge the quality of the Services and our hard work,
        dedication, and teamwork throughout the progress of the Subject. You recognize that this is
        a result of careful project management and application of knowledge learned from the
        Subject and wider in the field. <br/>

        You agree to allocate the Members marks for the Subject corresponding to their efforts to
        demonstrate understanding of the learning outcomes of the Subject.
    </p>

    <h2>Academic integrity</h2>
    <p>
        If you are a student enrolled in the University, you agree to strictly comply with the
        academic integrity policies of UOW. <br/>

        You agree to indemnify the Members of all academic misconduct claims resulting from your
        use of the Services.
    </p>

    <h2>DISCLAIMER</h2>
    <p>
        THE SERVICES ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
        INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
        PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE TEAM OR THE MEMBERS BE LIABLE
        FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
        OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SERVICES OR THE USE OR OTHER
        DEALINGS IN THE SERVICES.
    </p>
</div>

@code {

}
