@page "/Privacy"

<PageTitle>Privacy Policy</PageTitle>

<DeviceView>
    <Desktop>
        <MudText Typo="@Typo.h4"
                 Align="@Align.Center"
                 Color="@Color.Primary"
                 Class="m-3"
                 Style="user-select: none;">
            Privacy Policy
        </MudText>
    </Desktop>
</DeviceView>

<div class="p-4">
    <PrivacyView />
</div>

@code {

}
