@page "/Terms"

<PageTitle>Terms of Service</PageTitle>

<DeviceView>
    <Desktop>
        <MudText Typo="@Typo.h4"
                 Align="@Align.Center"
                 Color="@Color.Primary"
                 Class="m-3"
                 Style="user-select: none;">
            Terms of Service
        </MudText>
    </Desktop>
</DeviceView>

<div class="p-4">
    <TermsView />
</div>

@code {

}
