<MudDialog Style="background-color: var(--mud-palette-background-grey);">
    <DialogContent>
        <MudText Typo="@Typo.h5"
                 Align="@Align.Center"
                 Color="@Color.Primary"
                 Class="m-3"
                 Style="user-select: none;">
            Privacy Policy
        </MudText>

        <div class="p-2">
            <PrivacyView />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="() => MudDialog?.Close()">
            OK
        </MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter]
    MudDialogInstance? MudDialog { get; set; }
}
